#main {
    height: 100vh;
    background-color: rgb(17, 233, 35);
    border-radius: 0 0 10px 10px;
    border: 3px solid #000000;
    display: flex;

}


#add-contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    flex-shrink: 0;
    overflow: auto;
   
    


}

#contact-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: auto;

}






#contact-name-input, #contact-number-input {
    height: 50px;
    border-radius: 10px;
    width: 400px;
    font-size: 28px;
    margin:30px 0 0 0;

}

#save-button {

    height: 80px;
    border-radius: 10px;
    width: 200px;
    font-size: 28px;
    margin:30px 0 0 0;
    background-color: #2bfc01;
    

}



